@import "tailwindcss";

body {
    font-family: 'Poppins', sans-serif;
}

input{
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 16px;
}

button{
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

